*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    header{
        h1{
            background-color: rgb(0, 0, 0);
            text-align: center;
            a{
                text-decoration: none;
                color: #ffffff;
            }
        }
    .nav-principal{
            position: relative;
            display: flex;
            justify-content: center;
            gap: 5rem;
            padding: 1rem;
            background-color: rgb(255, 196, 0);
            a{
                color: black;
                text-decoration: none;
                font-size: 1.1rem;
            }
            a:hover{
                text-decoration: underline;
            }
            .carrito-img{
                display: flex;
                width: 50px;
                left: 3rem;
            }
            #cuenta-carrito{
                position: absolute;
                background-color: red;
                border-radius: 100%;
                display: inline-block;
                width: 20px;
                aspect-ratio: 1;
                text-align: center;
                line-height: 20px;
            }
        }  
    }
}
main{
    img{
        display: block;
        margin: 0 auto;
        max-width: 500px;
        margin-bottom: 1rem;
        
    }
}
section{
    text-align: center;
    h2{
        padding: 1rem;
        font-size: 40px;
    }
    .producto{
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
        justify-content: center;
        padding-bottom: 5rem;
        .en-muestra{
            width: 300px;
            height: auto;
            border-radius: 0.5rem;
            overflow: hidden;
            background-color: rgba(247, 247, 247, 0);
            transition: 0.5s;
            a{
                display: block;
                transition: transform 0.5s;
                text-decoration: none;
            }
            img{
                width: 300px;
                height: auto;
            }
            h3{
                color: #000000;
            }
            p{
                color: #000000;
            }
            .boton-comprar{
                background-color: #000000;
                color: #ffffff;
                border: none;
                padding: 15px 30px;
                font-size: 18px;
                border-radius: 50px;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
            }
            .boton-comprar:hover{
                background-color: yellow;
                color: #000000;
            }
        }
        .en-muestra:hover{
            transform: scale(1.1);
        }
    }
    @media(max-width: 1024px){
        .producto{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media(max-width: 600px){
        .producto{
            grid-template-columns: 1fr;
        }
        .en-muestra{
            width: 90%;
        }
    }
}

.formulario{
    h2{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    form{
        align-items: center;
        margin-top: 20px;
        input[type="text"]{
            width: 200px;
            gap: 3rem;
            margin-bottom: 1rem;
        }
        input[type="email"]{
            width: 300px;
            gap: 3rem;
            margin-bottom: 1rem;
        }
        label{
            margin-bottom: 0.5rem;
            font-weight: bold;
            label[for="mensaje"]{
                text-align: top;
            }
        }
        textarea{
            width: 300px;
            height: 100px;
            margin-bottom: 1rem;
        }
        input[type="submit"]{
            margin-bottom: 1rem;
        }

    }
}


footer{
    padding: 1rem;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    .contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
}
