*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    header{
        position: relative ;
        .titulo-logo{
            display: flex;
            background-color: #000;
            align-items: center;
            justify-content: center;
            .titulo{
                color: #fff;
                text-align: center;
                font-size: 80px;
            }
            a{
                .img{
                    position: absolute;
                    left: 10rem;
                    top: 5%;
                    max-width: 80px;
                    max-height: 100px;
                }
            }
        }
        .buscador{
            display: flex;
            justify-content: center;
            gap: 5rem;
            padding: 1rem;
            background-color: yellow;
            ul {
                display: flex;
                gap: 5rem;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li a {
                text-decoration: none;
                color: black;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}